$big-size: 900px;

$mobile-section-header: 5rem;
$desktop-section-header: 2rem;

$mobile-section-padding: 0 3rem;

$choose-us-size: (
	mobile-font: 2.15rem,
	desktop-font: 1rem,
	text-font: 0.65rem,
);

$invite-size: (
	padding: 3rem 4rem,
	desktop-padding: 2rem 3rem,
);

$review-size: (
	padding: 2.5rem 2rem,
	desktop-padding: 1.25rem 1.75rem,
	btn-padding: 1.5rem,
	btn-desktop-padding: 0.5rem,
);

$footer-size: (
	mobile-font: 2rem,
	desktop-font: 0.65rem,
);
