@import "../components/_colors";
@import "../components/_size";

input[type="text"],
input[type="email"] {
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

input[type="checkbox"] {
	appearance: checkbox;
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
}

%sign-up__input-template {
	border: 0.1rem solid map-get($map: $input, $key: boder-color);
	padding: 0.2rem;
	border-radius: 0.15rem;
}

.sign-up {
	box-sizing: border-box;
	padding: 12.5% 9.5%;

	&__header {
		margin-bottom: 2rem;
	}

	&__title {
		margin: 6rem 0 3rem 0;
	}

	&__input {
		@extend %sign-up__input-template;
		margin: 0.5rem 0 1.5rem 0;
		padding: 0.75rem;
		width: 100%;
	}

	&__checkbox {
		@extend %sign-up__input-template;
		height: 1em;
		width: 1em;

		& + span {
			display: inline-block;
			line-height: 1.5;
			width: 85%;
			margin-left: 5%;
		}

		&:hover {
			box-shadow: 0 0 0.1rem map-get($map: $btn, $key: box-boder-hover);
			cursor: pointer;
		}
	}

	&__link {
		font-weight: 800;
	}

	&__btn {
		width: 100%;
		padding: 1.25rem;
		margin: 1rem 0;
		color: white;
		font-weight: 700;
		background-color: map-get($map: $link, $key: color);

		border-radius: 0.45rem;

		&:hover {
			background-color: map-get($map: $btn, $key: hover-color);
		}
	}
}

.sign-in {
	text-align: center;
	> a {
		text-decoration: none;
	}
}

label[for="agree"] {
	display: flex;
	align-items: baseline;
}

label[for="password"] {
	position: relative;
}

#password {
	padding-right: 3.65rem;
	+ svg {
		position: absolute;
		top: 2.85rem;
		right: 1rem;

		&:hover {
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 900px) {
	%sign-up__input-template-2 {
		border: 0.05rem solid map-get($map: $input, $key: boder-color);
	}

	.sign-up {
		padding: 5% 9%;

		&__header {
			margin-bottom: 1rem;
		}

		&__title {
			margin: 1.5rem 0;
		}

		&__input {
			@extend %sign-up__input-template-2;
			margin: 0.25rem 0 0.75rem 0;
			padding: 0.35rem;
			width: 100%;
		}

		&__checkbox {
			@extend %sign-up__input-template-2;

			& + span {
				margin-left: 2%;
			}
		}

		&__btn {
			width: 80%;
			padding: 1rem;
			display: block;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
	}

	#password {
		padding-right: 1.75rem;
		+ svg {
			font-size: 0.5rem;

			top: 1.2rem;
			right: 0.5rem;
		}
	}
}
